<div class="container">
  <h1>bootcamp enrollment form</h1>
  {{form.value |json }}
  {{form.valid}}
  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Ονομα</label>
      <input #name="ngModel" required id="name" class="form-control" [class.is-invalid]="name.invalid && name.touched" type="text" name="name" ngModel>
      <div id="name" class="invalid-feedback">
        παρακαλω καταχωριστε το ονομα σας
      </div>
      <!-- {{form.className}} -->
      {{name.className}}s
    </div>
    <div class="form-group">
      <label for="email">Επίθετο</label>
      <input id="surname" class="form-control" required type="email" name="email" [(ngModel)]="user.email">
      <div id="surname" class="invalid-feedback">
        παρακαλω καταχωριστε το Επίθετο σας
      </div>
    </div>
    <div class="form-group">
      <label for="tel">Τηλέφωνο</label>
      <input pattern="[+]{1}[0-9]{2}-[0-9]{3}-[0-9]{10}" placeholder="+99-999-9999999999" required id="tel" type="tel"
        name="tel" class="form-control" [(ngModel)]="user.tel">
      <div id="tel" class="invalid-feedback">
        παρακαλω καταχωριστε το Τηλέφωνο σας
      </div>
    </div>
    <div class="form-group">
      <label for="tel">Ημερομηνία γέννησης</label>
      <input id="dateOfBirth" type="tel" name="tel" class="form-control" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}
      " [(ngModel)]="user.dateOfBirth">
      <div id="dateOfBirth" class="invalid-feedback">
        παρακαλω καταχωριστε την Ημερομηνία γεννησεως σας
      </div>
    </div>
    <div class="form-group">
      <select class="custom-select" name="option" [(ngModel)]="user.interest">
        <option selected>i am interested in</option>
        <option *ngFor="let option of topics" value="option">{{option}}</option>
      </select>
    </div>
    <input type="submit" value="submit" [disabled]="!form.valid" class="btn btn-primary">
  </form>
</div>
<!-- {{form.}} -->
{{user |json}}